<!doctype html>
<html>

<head>
  <title>battlekitten | 404 - Can no has this page! </title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<style>
  body {
    font-family: 'Open Sans', sans-serif;
  }
  body h2 {
    font-family: 'Open Sans', sans-serif;
  }
  .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-left: 100px;
  }
</style>

<body>


  <div class="container">
    <div class="row text-center">
        <img src="/img/battle-kitten.jpg" class="img-responsive center-block" alt="" />
        <h2>I no has this page!</h2>
        <a href="/" class="btn btn-default btn-lg text-center">Home</a>
    </div>
  </div>
</body>

</html>