<!doctype html>
<html>

<head>
  <title>Battlekitten | create your secret page</title>
  <meta name="Description" content="Battlekitten.com allows you to create secret, encrypted pages using markdown.">
  <meta name="Keywords" content="encrypted pages, markdown">

  <meta property="og:title" content="Battlekitten | your secret page">
  <meta property="og:site_name" content="Battlekitten">
  <meta property="og:url" content="battlekitten.com">
  <meta property="og:description" content="Battlekitten.com allows you to create secret, encrypted pages using markdown.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://battlekitten.com/img/battle-kitten.jpg">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@battlekittencom">
  <meta name="twitter:title" content="Battlekitten | your secret page">
  <meta name="twitter:description" content="Battlekitten.com allows you to create secret, encrypted pages using markdown.">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="../css/vendor/simplemde.min.css">
  
  <link rel="stylesheet" href="../css/base.css">

  <script src='https://www.google.com/recaptcha/api.js'></script>

  
</head>

<body onload='battle.app.init();'>
  <div class="container">
    <div class="row row-centered">
      <div class="col-md-6 col-sm-12 col-xs-12 col-centered">
        <form id="addpageform" method="post">
          <a href="/" class="btn btn-default btn-md text-center">Home</a>
          <a href="/pages/search" class="btn btn-default btn-md text-center">Search</a>
          <hr>
     
          <div class="form-group ">
            <label class="control-label " for="key">Passphrase or key <strong>(do not forget, we do not save this!)</strong></label>
            <input class="form-control" id="key" name="key" placeholder="Optional" type="text" />
          </div>
          <div class="form-group ">
            <label class="control-label " for="creator_id">Creator ID <strong>(leave blank and one will be generated for you)</strong></label>
            <input class="form-control" id="creator_id" name="creator_id" placeholder="Optional" type="text" />
          </div>
          <hr>
          <div class="form-group ">
            <label class="control-label " for="cleartitle">Clear text</label>
            <input class="form-control" id="cleartext" name="cleartext" placeholder="Optional" type="text" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" for="page">Encrypted page (can use markdown)<span class="asteriskField">*</span></label>
            <textarea class="form-control" cols="40" id="encryptedtext" name="encryptedtext" placeholder="Use markdown" rows="10"></textarea>
            <input class="form-control" id="encrypted_token" name="encrypted_token" type="hidden" />
          </div>
          
   

            
         
          <div class="form-group ">
            <label class="control-label " for="select">
              Expiry:
            </label>
            <select class="select form-control" id="expiry" name="expiry">
              <option value="1hour" >
                1 hour
              </option>
              <option value="1day">
               1 day
              </option>
              <option value="never" selected>
                Never
              </option>
            </select>
          </div>

          
          <div class="form-group ">
            <label class="control-label " for="select">
              Go live:
            </label>
            <select class="select form-control" id="golive" name="golive">
              <option value="1hour" >
                1 hour
              </option>
              <option value="1day">
               1 day
              </option>
              <option value="now" selected>
                Now
              </option>
            </select>
          </div>     
            

          

          
          <div style="clear:both;" class="g-recaptcha" data-sitekey="6LcKhCYTAAAAABqcfIdq4FHliGR7Z1pY8UUc8HJv"></div>
          </br>
          <div class="form-group">
            <div>
              <button id="addpagebtn" class="btn btn-primary " name="submit" type="submit">Submit</button>
            </div>
          </div>
          

          
        </form>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
        <h3>Page preview:</h3>
        <div id="prev"></div>
      </div>
    </div>
  </div>

  <script src="../js/vendor/jquery/jquery.min.js"></script>
  <script src="../js/vendor/jquery/jquery.form.js"></script>
  <script src="../components/crypto-js/crypto-js.js"></script>
  <script src="../components/markdown/lib/markdown.js"></script>
  <script src="../js/vendor/simplemde/simplemde.min.js"></script>
  
  <script>
    var simplemde = new SimpleMDE({ element: $("#encryptedtext")[0] });
  </script>
  
  <script src="../js/crypto.js"></script>
  <script src="../js/handlers.js"></script>
  <script src="../js/models.js"></script>
  <script src="../js/app.js"></script>
  
    


</body>

</html>