<!doctype html>
<html>

<head>
  <title>battlekitten | your secret page</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/base.css">
  
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body onload='battle.app.init();'>
  <div class="container">
    <div class="row row-centered">
      <div class="col-md-6 col-sm-6 col-xs-12 col-centered">
        <form id="addpageform" method="post">
          <div class="form-group ">
            <label class="control-label " for="key">Passphrase or key <strong>(do not forget, we do not save this!)</strong></label>
            <input class="form-control" id="key" name="key" placeholder="Optional" type="text" />
          </div>
          <div class="form-group ">
            <label class="control-label " for="creator_id">Creator ID <strong>(leave blank and one will be generated for you)</strong></label>
            <input class="form-control" id="creator_id" name="creator_id" placeholder="Optional" type="text" />
          </div>
          <hr>
          <div class="form-group ">
            <label class="control-label " for="cleartitle">Clear text</label>
            <input class="form-control" id="cleartext" name="cleartext" placeholder="Optional" type="text" />
          </div>
          <div class="form-group">
            <label class="control-label requiredField" for="page">Encrypted page (can use markdown)<span class="asteriskField">*</span></label>
            <textarea class="form-control" cols="40" id="encryptedtext" name="encryptedtext" placeholder="Use markdown" rows="10"></textarea>
            <span class="help-block" id="hint_page">Use markdown</span>
          </div>
          
          <div class="g-recaptcha" data-sitekey="6LcKhCYTAAAAABqcfIdq4FHliGR7Z1pY8UUc8HJv"></div>
          </br>
          <div class="form-group">
            <div>
              <button id="addpagebtn" class="btn btn-primary " name="submit" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </hr>
      <div id="prev"></div>
      </div>
    </div>
  </div>
  
  
  <script src="../components/jquery/dist/jquery.js"></script>
  <script src="../js/vendor/jquery.form.js"></script>
  <script src="../components/crypto-js/crypto-js.js"></script>
  <script src="../components/markdown/lib/markdown.js"></script>
  <script src="../js/crypto.js"></script>
  <script src="../js/handlers.js"></script>
  <script src="../js/models.js"></script>
  <script src="../js/app.js"></script>




</body>

</html>