<!doctype html>
<html>

<head>
  <title>battlekitten | your secret page</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  
<style>
  body {
    font-family: 'Open Sans', sans-serif;
  }
  body h2 {
    font-family: 'Open Sans', sans-serif;
  }
  .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-left: 100px;
  }
</style>

<body>
  <div class="container">
    <div class="row text-center">
        <img src="/img/battle-kitten.jpg" class="img-responsive center-block" alt="" />
        <h2>I can has make you a page!</h2>
        <a href="/pages/add" class="btn btn-default btn-lg text-center">Create page</a>
    </div>
  </div>
</body>

</html>