<!doctype html>
<html>

<head>
  <title>Hashtag | Privacy policy</title>
  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="twitter:url" content="https://htpl.us/privacy" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="twitter:title" content="Hashtag Plus" />
<meta name="og:url" content="https://htpl.us/privacy" />
<link rel="canonical" href="https://htpl.us/privacy" />
<meta name="og:type" content="article" />
<meta name="og:title" content="Privacy Policy" />
<meta name="og:site_name" content="Hashtag Plus" />
<meta name="twitter:card" content="summary" />
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='/components/font-awesome/css/font-awesome.min.css' , rel='stylesheet'>
  <link href='/css/docs.min.css' , rel='stylesheet'>
  <style>
    body {
      padding-top: 5px;
    }
  </style>


  <script src="/components/jquery/dist/jquery.js"></script>


 


</head>

<body>
<% include ./partials/googletracking %>


  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

            </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="btn-compose pull-left">
          <a href="#addpostmodal" type="button" class="btn btn-danger navbar-btn" role="tab" data-toggle="modal"> <span class="glyphicon glyphicon-pencil"></span> New post</a>
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="/filters" role="tab">
                        Filters
                    </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> dfg</a>

          </li>
          <li><a href="/logout"><span class="fa fa-sign-out"></span> Logout</a>

          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  
  
  <div class="container bs-docs-container">
    
 
  
  
  <div class="bs-callout bs-callout-info" id="callout-glyphicons-location"> 
    <h2>Hashtag Plus Privacy Policy</h2> 
    <p>This Privacy Policy (“<strong>Policy</strong>”) describes how and when Hashtag Plus collects, uses and shares your information when you use our Services. 
      Hashtag Plus receives your information through our various websites, SMS, APIs, email notifications, applications, buttons, widgets, 
      ads, commerce services (the “<strong>Hashtag Plus Services</strong>”), and our other covered services that link to this Policy (collectively, the “<strong>Services</strong>”) and 
      from our partners and other third parties. For example, you send us information when you use our Services on the web, via SMS, or from an application 
      such as Twitter for Mac, Twitter for Android or TweetDeck. When using any of our Services you consent to the collection, transfer, storage, disclosure, 
      and use of your information as described in this Privacy Policy.</p> 
  </div>
    
     </div>

  

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>